:root {
    --myfont:Arial, Helvetica, sans-serif;
  }

  * {box-sizing:border-box;}

  a{
    text-decoration: none;
  }

  .active{
    border-bottom: solid 3px #d71e2b;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    /* box-shadow: 1px 1px 1px rgb(153, 145, 145); */
  }

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
}

.wrapper{
    background-color: white;
    width: 100%;
    height: 700px;
    position: relative;
}

.top-display{
    width: 100%;
    height: 20px;
    background-color: #d71e2b;
}

/* ******************** Logo Div & navBars starts here ******************** */
.Idesknav{
    display: none;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #d71e2b;
    position: relative;
    border-bottom: solid 1px #d71e2b;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    color: white !important;
    font-family: var(--myfont);
  }

  #holder{
      border: solid  0px black;
      width: 100px;
      height: 40px;
      position: relative;
      bottom: 13px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(250, 250, 250);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #d71e2b;
    border: solid 1px rgba(238, 229, 229, 0.185);
    border-radius: 2px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 6.8px;
  }

  #logoText{
      color: black;
  }

  
.active img{
    /* max-width: 100%; */
    max-height: 70px;
    width: 100px;
    height:50px;
    position: relative;
    bottom: 5px;

}
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #f8faf8;
    color: white;
    height: 16px;
  }

  .searchInput{
      display: none;
  }
  
  
.hide{
    display: none !important;
}




/* Slide style begins here */



/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  border: solid 0px black;
}


.slideshow-container img{
    width:100%;
}

/* Hide the images by default */
.mySlides {
 display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  font-family: var(--myfont);
  top: 10px;
  right: 0;
  bottom: 8px;
  width: 40%;
  text-align: left;
  height: 400px;
  background-color: rgba(255, 6, 6, 0.6);
  margin-right: 50px;
  border-radius: 10px;
  font-size:13px;
  padding-bottom: 70vh;
 box-sizing: border-box;
}

@media (min-width:200px) and (max-width:700px){
  .text{
    height: auto; 
    font-size: 12px;
    padding: 10px 10px 0px 10px;
    
    
  }
  .dot {
    cursor: pointer;
    height: 2px;
    width: 2px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

}

@media (min-width:499px){
  .text{
    font-size: 1em;
  }

  .dot {
    cursor: pointer;
    height: 2px;
    width: 2px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

}

.slideshow-container #OpStyle{
    background-color: rgb(39, 39, 39);
}
.numbertext{
    display: none;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #faf5f5;
  height: 40px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Contents items starts here */
.contents{
  width: 100%;
  height: auto;
  background-image:url(../images/ImageBankingImages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-items:normal;
  padding: 10px;
  text-align: center;
}

.contentItems{
  width:80%;
  height: 400;
  border: solid 0px white;
  position: relative;
  background-color:rgb(24, 23, 23,0.7);
  margin: 50px auto;
  color: rgb(243, 198, 198);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  font-size: 1em;
  font-family: var(--myfont);

  
}

.Content-Header-text{
  font-size: 1.50rem;
  font-weight: 700;
  color: rgb(253 253 253);   
   font-family: var(--myfont);
   padding: 5px;
   line-height: 20px;
}

.favIconStyle{
  font-size: 5rem;
  color: #d71e2b;
  padding-top: 30px;

  
}


/* Slide style ends here */

.contentItemsText{
  font-weight: 100; 
  color:  rgb(230, 230, 235); 
  padding: 0px 1 5px 0px 5px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" ";
  line-height: 1.5;

}

.contentItems a{
  text-decoration: none;
  color: #d71e2b;
  font-size: larger;
  font-weight: bold;
  position: relative;
  text-shadow: 1px 1px 2px rgb(61, 59, 59);
  border: solid 1px rgb(53, 53, 53);
  padding: 5px;
  background-color: white;
  border-radius: 10px;
} 

.change{
  color: rgb(3, 3, 3);
  font-weight: bold;
  padding-left: 10px;
  font-size: 1.3rem;
  text-decoration: dotted;
  text-shadow: 2px 1px 5px rgb(255, 255, 255);
}

/* Products container styles starts here */

.products {
  align-items: center;
  text-align: center;
  justify-content: inherit;
  width: 70%;
  background-color:  rgb(255, 255, 255,0.1);
  height: auto;
  margin: 0 auto;
  border: solid 0px black;
  padding-top: 20px;
  padding-bottom: 10px;

}


.container-style{
  border: solid 0px red;
  height: 300px;
  margin: 30px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 2px 5px rgb(218, 212, 212);
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
}


.container img{
  width: 40%;
  height: auto;
}

.productContainerText{
  font-size: 1.4em;
  padding:15px;
  text-indent:inherit;
}


/* EBanking */
.ebanking {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.account-balance {
  min-height: 30px;
  width: 300px;
  border: 1px solid blue;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}

.deposite-form input {
  min-height: 30px;
  width: 150px;
  border: 1px solid blue;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}











.addsContainer{
    display: none;
}


.footer-distributed {
    background-color: #191919;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    bottom:0;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  .move{
      position:relative;
      top: 5px;
  }
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  .Blogo{
    display: flex;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}





  /**********Tablet designs starts here**********/

  @media  (min-width:768px) and (max-width:1024px) {
.topnav{
    display: none;
}

.top-display{
    width: 100%;
    height: 10px;
    background-color: #d71e2b;
    padding-bottom: 20px;
    border-bottom: 1px solid #d71e2b;
}

.Idesknav{
    border: solid 1px red;
    border-left: none;
    border-right: none;
    height: 60px;
    display: block;
    display: flex;
    font-size: 1.1rem;
    position: relative;
}


.logoDiv{
    
    width: 200px;
    height: auto;
     border: solid 0px black;
}

.logoDiv img{
    /* max-width: 100%; */
    max-height: 70px;
    width: 150px;
    height:100px;
    position: relative;
    bottom: 5px;

}

.navDiv{
    position: absolute;
    right: 0;
    display: inline-block;
    /* background-color: #d71e2b; */
    width: 65%;
    justify-content:space-between;
    margin-right: 100px;
    margin-top: 5px;
    height: 50px;
    border: solid 0px black;
}

.navDiv ul{
display: flex;
justify-content: space-around;
list-style-type: none;
padding-right: 0px;
}
.navbar{


}
.navDiv a{
text-decoration: none;
color: rgb(24, 23, 23);
font-family: var(--myfont);
}

.navDiv a:hover{
text-decoration: underline;
}

/* Search icon starts here */
#search{
    color: #d71e2b;
    position:absolute;
    right:20px;
    bottom: 7px;

}
.Isize{
    font-size: 1.6em !important;
}

.searchInput{
    display: none;
}


.text{
  height: 250px;
  font-size: 1.5em;
}



.container-style{
  border: solid 0px red;
  height: 350px;
  margin: 30px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 2px 5px rgb(218, 212, 212);
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
}


.productContainerText{
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 10px;
  text-indent:inherit;
}
/* Contents items starts here */









  }




  /**********Desktop designs starts here**********/
  
  @media  (min-width:1024px){
    .topnav{
        display: none;
    }
    
    .Idesknav{
        border: solid 1px red;
        border-left: none;
        border-right: none;
        height: 70px;
        display: flex;
        font-size: 1.2rem;
        position: relative;
        
}
.logoDiv img{
    display: none;
}

.logoDiv{
    background-image: url(../images/Logoimage.png);
        width: 200px;
        height: 70px;
        border: solid 0px black;
        background-size:cover;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-position-y:-7px ;
        box-sizing: border-box;
        /* background-color: #d71e2b; */
}

/* .logoDiv img{
    border: solid 1px black;
    height: 90vh;
} */

.navDiv{
    position: absolute;
    right: 0;
    display: inline-block;
    /* background-color: #d71e2b; */
    width: 60%;
    margin-right: 200px;
    height: auto;
    border: solid 0px black;
    top: 5px;
}

.navDiv ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.navbar:hover {
    transform: translateY(-4px);
    
}
.navDiv a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-family: var(--myfont);
}

.navDiv a:hover{
   text-decoration: underline;
}


/* Search icon starts here */
#search{
    color: #d71e2b;
    position:absolute;
    right: 38px;
    bottom: 8px;

}
.Isize{
    font-size: 2em !important;
}
.Isize:hover{
    transform: translateY(-4px);
}
 .text {
     font-size: 1.8em;
 }

  
.addsContainer{
    display:  inline-grid;
    /* grid-template-columns: 1fr 10px 1fr; */
    width: 90%;
    border: solid 0px black;
    height: 150px;
    position: absolute;
    bottom: 0;
    justify-content: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
    justify-items:center;
    left: 25px;
    border-radius: 15px 15px 0px 0px;
    
   

}

/* #divider{
      position: absolute;
      bottom: 0;
      width: 2px;
      height: 50px;
      border: solid 1px black;
      margin-right: 30px;
      margin-bottom: 10px;
} */

#adds{
    border: solid 0px black;
    width: 80%;
    height: auto;
    border: solid 0px rgb(179, 164, 164);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    
}

.addsContainer img{
    width: 40%;
}
 
.contents{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  background-image:url(../images/ImageBankingImages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-items:normal;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.grid1{
  grid-column: 1/6;
  color: rgb(245, 244, 244); 
  font-family: var(--myfont);
  width: 70%;
  margin: 0 auto;
}

.change {
  font-size: 2.3rem;
}

#smalltext{
  font-size: larger;
}

.products {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  height: auto;

  padding-top: 50px;
  padding-bottom: 50px;
}

.container-style{
  border: solid 0px red;
  height: 330px;
  margin: 20px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 2px 5px rgb(218, 212, 212);
  padding-top: 10px;
  padding-bottom: 50px;
}

.productContainerText{
  font-size: 1.4em;
  padding:15px;
  text-indent:inherit;
}

.container img{
  width: 40%;
  height: auto;
}
                      

                        /* About us page for Desktop starts here */

  .contents2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: #746f6f;
    /* background-image: url(../images/); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: normal;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}




/* Products for desktop starts here */

.productsHome{
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(../images/clients.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}


  /* Ebanking styles starts here */
  .EbankingHome{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    background-image:url(../images/ImageBankingImages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .ebanking_divs{
        width:90%;
        height: 500px;
        background-color:rgb(43, 41, 41,0.4);
        border:solid 1px black;
        position:relative;
        top: 50px;
        margin: 0 auto;
        border-radius: 10px;
        
  }

  .form {
    border: 5px solid #d71e2b;
    height: 300px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: rgb(236, 233, 232);

    }
      input {
      width: 100%;
      padding: 16px 8px;
      border-radius: 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      outline: none;
    }
    input:focus {
    border: none;
    }
    button {
    background-color: #d71e2b;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    }
    .form h1 {
    text-align:center;
    font-size:28px;
    font-family: var(--myfont);
    }
    button:hover {
    opacity: 0.8;
    }
    .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    }
    .container {
    padding: 16px 0;
    text-align:left;
    }
    span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }
    

    .messageDiv{
      width: 70%;
      height: 150px;
      background-color: #db4242;
      margin: 0 auto;
      position:relative;
      top:200px;
      border-radius: 200px;

        }
   
 }
  
  










}



/* Footer starts here */

  
  /* Media Queries for footer*/
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
    .Blogo , .copyright{
      text-align: center;
      display: block;
    }
  }